.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-menu h1{
    color: #262626;
    font-weight: 500;
}

.em-text{
    max-width: 60%;
    columns: #808080;
}

.em-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0;
    overflow-x: scroll;
}

.em-list::-webkit-scrollbar{
    display: none;
}

.em-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transform: 0.2;
}

.em-list-item p{
    margin-top: 10px;
    color: #262626;
    cursor: pointer;
}

.explore-menu hr{
    margin: 10px 0;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.em-list-item .active{
    border: 4px solid tomato;
    padding: 2px;
    transition: all ease .1s;
}

@media (max-width:1050px) {
    .em-text{
        max-width: 100%;
        font-size: 14px;
    }
}
